.blog_wrapper {


    .blog_date {
        margin: 10px 0 20px;
    }

    .blog_heading {
        font-family: oswald;
        font-family: 52px;
    }

    .blog_subtitle h6 {
        margin-top: 30px;
        line-height: 25px;
        font-weight: 800;
        font-style: italic;
        word-wrap: break-word;
    }

}