.breadcrumb_header {
    color: #1E2B3C;
    font-size: 60px;
    line-height: 116.7%;
    font-weight: 800;

    margin-bottom: 0px;

}

.breadcrumb_path {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}